<!-- app.component.html -->

<div class="container">
  <h1>Bienvenido al Panel Informativo</h1>
  <p class="fecha-actual">Hoy es {{ fechaActual }}</p>
  <p *ngIf="showClock" class="vintage-clock">{{ horaActual }}  </p>
  
  <app-temperature></app-temperature>
  
  <p class="small-text">Acá centralizamos toda la información importante de Argentina y el mundo</p>

  <div class="table-responsive">
    <table class="table">
    <tr> 
      <td>
        <app-dolar></app-dolar>
      </td>
      <td>
        <app-dolarblue></app-dolarblue>
      </td>
      <td>
        <app-inflacionanual></app-inflacionanual>
      </td>        
      <td>
        <app-bitcoin></app-bitcoin>
      </td>
      <td>
        <app-oro></app-oro>
      </td> 
    </tr>
    <tr>
      <td>
        <app-minimosube></app-minimosube>
      </td>       
      <td>
        <app-merca></app-merca>
      </td>      
      <td>
        <app-heineken></app-heineken>
      </td>
      <td>
        <app-cocacola></app-cocacola>
      </td>
      <td>
        <app-nafta></app-nafta>
      </td>            
    </tr>
    <tr>
      <td>
        <app-bigmac></app-bigmac>
      </td>   
      <td>
        <app-flores></app-flores>
      </td> 
      <td>
        <app-prensado></app-prensado>
      </td>
      <td>
        <app-forrosprime></app-forrosprime>
      </td>    
      <td>
        <app-phillipbox></app-phillipbox>
      </td>                         
    </tr>
  </table>
</div>

<br>
<footer>
  <p class="small-text">v1 - Claudiongo - © 2023 - Todos los derechos reservados</p>
  <app-footer></app-footer>
</footer>
