  /* You can add global styles to this file, and also import other style files */
  @import '@angular/material/prebuilt-themes/indigo-pink.css';
  /* styles.css */
  
  /* Apply the Roboto font to the entire application */
  body {
      font-family: 'Roboto', sans-serif;
    }
    
    /* Optionally, apply the Poppins font to specific elements */
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Poppins', sans-serif;
    }
    

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  /* You can add global styles to this file, and also import other style files */

/* Estilo para tu mat-card específico */
.card {
  align-items: center;
  height: 110px;
  width: 120;
  padding: 5px;
  background-color: #242424 !important;
  border-radius: 5px;
  border: 4px solid #5a5c5a !important;
}

.temperature {
  font-size: 12px;
  font-weight: bold;
  margin: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #48db77; /* Soft blue color for the temperature */
}

.value {
  font-size: 10px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  margin: 1px 0;
  margin-bottom: 1px;
}

.value-temp {
  font-size: 14px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  margin: 1px;
  margin-top: 5px;
}

.fecha-actual {
  font-size: 14px;
  color: #ffffff; /* Soft blue color for the date */
  margin-bottom: 10px; /* Ajusta el margen inferior según tu preferencia */
  margin-top: 5px;
}

/* Estilo para el párrafo en letra pequeña */
.small-text {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #ffffff; 
}

.loading-dots::after {
  font-size: 10px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  content: '...';
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { content: '.' }
  33% { content: '..' }
  66% { content: '...' }
}


}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Ajusta estilos para tablets aquí */
}

/* Estilos para pantallas grandes (PCs) */
@media (min-width: 1025px) {

/* Estilo para tu mat-card específico */
.card {
  align-items: center;
  height: 120px;
  width: 150px;
  padding: 5px;
  background-color: #242424 !important;
  border-radius: 5px;
  border: 4px solid #5a5c5a !important;
}

.temperature {
  font-size: 22px;
  font-weight: bold;
  margin: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: #48db77; /* Soft blue color for the temperature */
}

.value {
  font-size: 18px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  margin: 1px 0;
  margin-bottom: 1px;
}

.value-temp {
  font-size: 26px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  margin: 1px;
  margin-top: 5px;
}

.fecha-actual {
  font-size: 22px;
  color: #ffffff; /* Soft blue color for the date */
  margin-bottom: 10px; /* Ajusta el margen inferior según tu preferencia */
  margin-top: 5px;
}

/* Estilo para el párrafo en letra pequeña */
.small-text {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #ffffff; 
}


.loading-dots::after {
  font-size: 18px;
  color: #ffffff; /* Soft green color for value1 and value2 */
  content: '...';
  animation: loading 1s infinite;
}

@keyframes loading {
  0% { content: '.' }
  33% { content: '..' }
  66% { content: '...' }
}


}





